# -------------------------
# Python
# -------------------------
__pycache__/
*.py[oc]
*.pyo
*.pyd
*.egg-info
build/
dist/
wheels/

# Virtual environments
.venv/
.venv*/
.env
.env.local
.env.*.local

# -------------------------
# Airflow
# -------------------------
# Ignore everything in airflow/ except DAGs
airflow/*
!airflow/dags/
!airflow/dags/**

# Airflow logs
airflow/logs/

# -------------------------
# dbt
# -------------------------
# Local dbt config/profile
profiles.yml

# dbt generated artifacts
dbt/target/
dbt/dbt_modules/
dbt/dbt_packages/
dbt/logs/

# -------------------------
# Data files
# -------------------------
data/export/
data/raw/

# -------------------------
# Testing
# -------------------------
.pytest_cache/
.coverage
htmlcov/

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# OS-generated
# -------------------------
.DS_Store
Thumbs.db
